<div id="card">
	<div id="inside">
		<header>
			<div class="left">
				<div id="name">My Monster</div>
			</div>
			<div class="right">
				<div id="hp">40 HP</div>
				<img class="energy icon" src="assets/img/electric.png" />
			</div>
		</header>
		<figure id="art">
			<img src="assets/img/monter.png"/>
			<figcaption>N°025 Monster</figcaption>
		</figure>
		<div id="capacities">
			<div class="capacity">
				<div class="main">
					<div class="cost">
						<img class="icon energy" src="assets/img/electric.png" />
						<img class="icon energy" src="assets/img/electric.png" />
					</div>
					<div class="name">Geo Impact</div>
					<div class="damage">60</div>
				</div>
				<div class="description">
					This is a long description of a monster attack.
					Probably something to do with electricity...
				</div>
			</div>
		</div>
	</div>
</div>